{
  "arrowParens": "always",
  "printWidth": 80,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "semi": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-svelte"],
  "tailwindConfig": "./packages/tailwind",
  "pluginSearchDirs": ["."],
  "overrides": [
    {
      "files": "*.svelte",
      "options": { "parser": "svelte" }
    }
  ]
}
